# Java
*.class
*.jar
*.war
*.ear

# Spring Boot
/target/
/out/

# React
/node_modules/
/build/

# Angular
/dist/
/node_modules/

# Docker
/docker-compose.yml
/Dockerfile

# IntelliJ
.idea/
*.iml

# OS-specific
.DS_Store
Thumbs.db
